<app-navbar></app-navbar>

<ion-content class="ion-padding">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <div class="error" *ngIf="submitted && f.email.errors">
      <small *ngIf="f.email.errors?.['required']">El correo es obligatorio.</small>
      <small *ngIf="f.email.errors?.['email']">Ingresa un correo válido.</small>
    </div>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <div class="error" *ngIf="submitted && f.password.errors">
      <small *ngIf="f.password.errors?.['required']">La contraseña es obligatoria.</small>
      <small *ngIf="f.password.errors?.['minlength']">Mínimo 6 caracteres.</small>
    </div>

    <ion-button expand="block" type="submit" class="ion-margin-top">Iniciar sesión</ion-button>
  </form>

  <div class="ion-text-center ion-margin-top">
    <ion-button fill="clear" (click)="goToRegister()">¿No tienes cuenta? Regístrate</ion-button>
  </div>
</ion-content>
